@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 14px/20px "Lato", Arial, sans-serif;
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}
.message {
position: absolute;
}

.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #db3948;
    border-color: #db3948 transparent #db3948 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
