@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  max-width: 1023px;
  min-width: 400px;
  margin: 0 auto;
}

.head {
  display: flex;
  align-items: center;
}

.crud-title {
  font-size: 40px;
  margin-right: 20px;
}

.btn-update {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  transition: .2s;
  background-color: #fff;
  cursor: pointer;
  font-size: 33px;
  color: rgb(13, 235, 42);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 40px;
}

.cards-list {
  width: 100%;
  margin: 40px auto;
  display: flex;
  overflow: auto;
}

.cards {
  box-sizing: border-box;
  position: relative;
  min-width: 180px;
  max-width: 260px;
  height: 160px;
  margin: 20px 20px 20px 0; 
  border: 1px solid;
  border-radius: 4px;
  word-break: break-all;
  padding: 5px;
}

.cards-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.btn-del {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  border: 1px solid black;
  transition: .2s;
  background-color: #fff;
  cursor: pointer;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-del :before {
  content: "";
  position: absolute;
  left: 16px;
  top: 16px;
}

.btn-del:hover {
	box-shadow: 4px 4px 12px 0 #bababa;
	transition: 0.2s;
}

.btn-del:active {
	box-shadow: 0px 0px 0px 0 #bababa;
}

.input-form {
  width: 300px;
  position: relative;
}

.input-field {
  resize: none;
  width: 100%;
  padding: 5px;
  font-size: 18px;
}

.btn-send {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  bottom: 15px;
  border-radius: 50%;
  border: 1px solid;
  transition: .2s;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}