<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <script>

// function countId() {
//   let id = 0
//   return () => id += 1;
// }


// const id = countId(); 
// console.log( {id: id()}  )
// console.log( {id: id()}  )


// function curry() { // curry(f) выполняет каррирование
//   return (a) => {
//     return (b) => {
//       return () => a + b
//     };
//   };
// }

// // использование
// // function sum(a, b) {
// //   return a + b;
// // }

// let curriedSum = curry()(1)(2);

// console.log( curriedSum() ); // 3



    </script>
    
</body>
</html>